#OS Files
*.DS_Store

# Visual debugger configurations
.vscode/
.vs/
*.vcxproj
*.vcxproj.*
*.xcodeproj/
*.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
data/
Python/data/
Python/oldgui/
Python/flash_dump/
Python/venv/

# GUI Local files
Python/LaunchFiles

# VSCode Workspace Files
MASA Avionics • GUI.code-workspace
